main {
  min-height: 80vh;
  background-color: black;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 100;
}

.regular {
  font-weight: 400;
}
